<section class="ifmath-description">
  <p class="p-justify">
    O objetivo do estudo da correlação é determinar (mensurar) o grau de
    relacionamento entre duas variáveis.
    <br />
    Caso os pontos das variáveis, representados num plano cartesiano (X, Y) ou
    gráfico de dispersão, apresentem uma dispersão ao longo de uma reta
    imaginária, dizemos que os dados apresentam uma correlação linear.
    <br />
    Mede apenas a relação linear entre as variáveis, e não relação causa-efeito.
    <br />
    O coeficiente de correlação é calculado através da fórmula:
  </p>
</section>
