<section class="ifmath-side-bar">
  <ul class="list-group  list-group-collapse">
    <li class="list-group-item active list-group-item active--estatisca">Conteúdos disponíveis estatística</li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['descricao']">
      Definição
    </li>
      <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['medidas_tendencia_central']">
        Medidas  de tendencia central
      </li>
      <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['medidas_de_dispersao']">
        Medidas  de dispersão
      </li>
      <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['graficos']">
        Gráficos
      </li>
  </ul>
</section>
