<section class="ifmath-theme">
  <div class="ifmath-theme__image__container ifmath-theme__image__container--coral col-md-12">
    <div class="row">
      <div class="ifmath-theme__image__right col-5">
        <img class="img-responsive" src="assets/images/chart.png" />
      </div>
      <div class="ifmath-theme__titled__centralized col-6">
        <h1>Estatística e Probabilidade</h1>
      </div>
    </div>
    <h4>Conteúdos disponíveis:</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/estatistica_probabilidade/estatistica_descritiva']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--coral">
            Estatistica Descritiva
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--coral">
            Probabilidade
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--coral">
            Distribuições de Probabilidades Discretas
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--coral">
            Distribuições de Probabilidades Contínuas
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--coral">
            Intervalo de Confiança
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/page-not-found']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--coral">
            Teste de Hipóteses
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6"></div>
      <div class="col-lg-4 col-sm-6">
        <a [routerLink]="['/estatistica_probabilidade/correlacao_regressao']">
          <button type="button" class="btn btn-lg btn-outline-success btn-outline-success--coral">
            Correlação e Regressão
          </button>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6"></div>
    </div>
  </div>
</section>