<est-base-view>

  <div class="scroll-center row justify-content-around">


    <!-- Botões de navegação -->
    <div class="btn-container mt-2 row align-items-center justify-content-center">
      <div class=" col-12 text-center">
        <h3 class="text-center">Dados Isolados</h3>
      </div>
      <h5 class="mt-2 col-12 text-center">Escolha abaixo a maneira de entrada de dados:</h5>
      <est-btn *ngFor="let button of buttons; let i = index" [name]="button.title" [route]="button.route"></est-btn>
      <br><br><br>
    </div>

    <!--Inputs-->
    <div class="form-group row input-container col-12">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Título dos Dados: </label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Título" [(ngModel)]="title"
          (ngModelChange)="updateChart()">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Entre com os Dados:</label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - os valores"
          [(ngModel)]="dadoInput" (ngModelChange)="changeDados()" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Fonte dos dados:</label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Fonte" [(ngModel)]="fonteDados">
      </div>

    </div>


    <div class="row content-container col-12 row px-0 align-items-center justify-content-center text-justify">
      <!--AQUI VAI IR A TABELA-->
      <table class="table">
        <caption class="titleTable">{{title}}</caption>
        <thead style="text-align: center;">
          <tr style="border-top: 1px double black;">
            <th scope="col" style="border-bottom: 1px double black;">Xi</th>
            <th scope="col" style="border-bottom: 1px double black;">fi</th>
          </tr>
        </thead>
        <tbody style="border-bottom: 1px double black;">
          <tr class="table-light" *ngFor="let element of dadosXi; let i = index" style="text-align: center;">
            <td>{{element}}</td>
            <td>{{frequenciaAbs[i]}}</td>
          </tr>
          <tr style="text-align: center;border-top: 1px double black;">
            <th scope="row">Soma</th>
            <td>{{qtdTotal}}</td>
          </tr>
        </tbody>
        <caption>Fonte: {{fonteDados}}</caption>
      </table>
    </div>
  </div>
  <!--Propriedades-->
  <div class="rightbar px-3 vh-100">

    <h3>Dados Isolados</h3>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="amostra" value="option1" checked>
      <label class="form-check-label" for="amostra">
        Amostra
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="populacao" value="option2">
      <label class="form-check-label" for="populacao">
        População
      </label>
    </div>
    <hr>


    <!-- Accordion Medidas de Tendência Central-->
    <div class="accordion" id="accordionExample">
      <h3 style="font-size: large;">Medidas de Tendência Central</h3>
      <p>As medidas de tendência central são medidas que caracterizam um conjunto.
        Tais parâmetros estatísticos indicam valores representativos de um conjunto
        de dados.
      </p>
      <!-- Média -->
      <div class="card">
        <div class="card-header" id="headingMedia" data-toggle="collapse" data-target="#collapseMedia">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMedia"
              aria-expanded="true" aria-controls="collapseMedia">
              <p>
                Média:
                <ng-katex class="explicacao" equation=" \overline{x} \approx {{ media | number:'':'pt'}}"> </ng-katex>
              </p>
            </button>
            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseMedia"></i>
          </h2>
        </div>

        <div id="collapseMedia" class="collapse" aria-labelledby="headingMedia" data-parent="#accordionExample">
          <div class="card-body">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <!-- Panel -->
                <div class="panel-group" id="accordion">

                  <!-- Passo 1 -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePasso1Media" class="">
                          <p>
                            <ng-katex class="explicacao"
                              equation=" \textcolor{black}{\overline{x} = \dfrac{ \sum_{} xi } { n } }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapsePasso1Media"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePasso1Media" class="panel-collapse collapse">
                      <div class="panel-body">
                        Fórmula para o cálculo da média 
                      </div>
                    </div>
                  </div>
                  <hr><br>

                  <!-- Passo 2 -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePasso2Media" class="">
                          <p>
                            <ng-katex class="explicacao"
                              equation=" \textcolor{black}{\overline{x} = \dfrac{ {{ formulaMedia}} } { {{dados.length}} } }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapsePasso2Media"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePasso2Media" class="panel-collapse collapse">
                      <div class="panel-body">
                        Substituindo os dados na fórmula.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!-- Passo 3 -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePasso3Media" class="">
                          <p>
                            <ng-katex class="explicacao"
                              equation=" \textcolor{black}{\overline{x} = \dfrac{ {{ dadosSomaTotal}} } { {{dados.length}} } }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapsePasso3Media"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePasso3Media" class="panel-collapse collapse">
                      <div class="panel-body">
                        Soma-se os elementos do numerador.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!-- Passo 4 -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePasso4Media" class="">
                          <p>
                            <ng-katex class="explicacao"
                              equation=" \textcolor{black}{\overline{x} \approx {{ media | number:'':'pt'}} }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapsePasso4Media"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePasso4Media" class="panel-collapse collapse">
                      <div class="panel-body">
                        Procede-se a divisão.
                      </div>
                    </div>
                  </div>
                  <hr>

                </div>
                <!-- end panel -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end collapse Média -->

      <!-- Moda -->
      <div class="card">
        <div class="card-header" id="headingModa" data-toggle="collapse" data-target="#collapseModa">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseModa"
              aria-expanded="false" aria-controls="collapseModa">
              <p class="mb-0" style="font-size: large;">
                Moda = {{ resultadoModa }}
              </p>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseModa"></i>
          </h2>
        </div>
        <div id="collapseModa" class="collapse" aria-labelledby="headingModa" data-parent="#accordionExample">
          <!-- Panel -->
          <div class="card-body">
            A série é {{tipoModa}} e {{formulaModa}}
            <hr>
          </div>
          <!-- end panel  -->
        </div>
      </div><!-- end collapse Moda -->

      <!-- Mediana -->
      <div class="card">
        <div class="card-header" id="headingMediana" data-toggle="collapse" data-target="#collapseMediana">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMediana"
              aria-expanded="false" aria-controls="collapseMediana">
              <p>
                Mediana:
                <ng-katex class="explicacao" equation=" = {{ mediana }}">
                </ng-katex>
              </p>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseMediana"></i>
          </h2>
        </div>
        <div id="collapseMediana" class="collapse" aria-labelledby="headingMediana" data-parent="#accordionExample">
          <!-- Panel -->
          <div class="card-body">
            <!-- Passo 1  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l = \pi \cdot \textcolor{blue}{r} \cdot \textcolor{limegreen}{ g } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseSix"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Fórmula para calcular a área lateral.
                  <ul>
                    <li>
                      <ng-katex equation="\color{blue}{ r }"></ng-katex> = raio
                    </li>
                    <li>
                      <ng-katex equation="\color{limegreen}{ g }"></ng-katex> = geratriz
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <!-- end panel  -->
        </div>
      </div><!-- end collapse Mediana -->

    </div>
    <hr>


    <!-- Accordion Medidas de Dispersão-->
    <div class="accordion" id="accordionExample">
      <h3 style="font-size: large;">Medidas de Dispersão</h3>
      <p>As medidas de dispersão são medidas que caracterizam um
        conjunto de dados e são usadas para determinar a variedade
        de um conjunto de dados.
      </p>
      <!-- Amplitude Total -->
      <div class="card">
        <div class="card-header" id="headingAmplitude" data-toggle="collapse" data-target="#collapseAmplitude">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAmplitude"
              aria-expanded="true" aria-controls="collapseAmplitude">
              <p>
                Amplitude Total:
                <ng-katex class="explicacao" equation=" \approx {{ amplitude }}"> </ng-katex>
              </p>
            </button>
            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseAmplitude"></i>
          </h2>
        </div>

        <div id="collapseAmplitude" class="collapse" aria-labelledby="headingAmplitude" data-parent="#accordionExample">
          <div class="card-body">
            Note que temos um triângulo retângulo, aplicando o teorema de pitágoras temos:
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <!-- Panel -->
                <div class="panel-group" id="accordion">
                  <!-- Passo 1 -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePasso1" class="">
                          <p>
                            <ng-katex class="explicacao"
                              equation="\color{black}{g} \color{black}{^2} = \color{red}{h} \color{black}{^2 +} \color{blue}{r} \color{black}{^2}">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapsePasso1"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePasso1" class="panel-collapse collapse">
                      <div class="panel-body">
                        Fórmula para o cálculo da geratriz.
                        <ul>
                          <li>
                            <ng-katex equation="\color{limegreen}{ g }"></ng-katex> = geratriz
                          </li>
                          <li>
                            <ng-katex equation="\color{red}{ h }"></ng-katex> = altura
                          </li>
                          <li>
                            <ng-katex equation="\color{blue}{ r }"></ng-katex> = raio
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
                <!-- end panel -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end collapse Amplitude Total -->

      <!-- Desvio Padrão -->
      <div class="card">
        <div class="card-header" id="headingDesvioPadrao" data-toggle="collapse" data-target="#collapseDevioPadrao">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
              data-target="#collapseDevioPadrao" aria-expanded="false" aria-controls="collapseDevioPadrao">
              <p>
                Desvio Padrão:
                <ng-katex class="explicacao" equation=" \approx {{ desvio }}">
                </ng-katex>
              </p>
            </button>
            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseDevioPadrao"></i>
          </h2>
        </div>
        <div id="collapseDevioPadrao" class="collapse" aria-labelledby="headingDesvioPadrao"
          data-parent="#accordionExample">
          <!-- Panel -->
          <div class="card-body">
            <!-- Passo 1  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l = \pi \cdot \textcolor{blue}{r} \cdot \textcolor{limegreen}{ g } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseSix"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Fórmula para calcular a área lateral.
                  <ul>
                    <li>
                      <ng-katex equation="\color{blue}{ r }"></ng-katex> = raio
                    </li>
                    <li>
                      <ng-katex equation="\color{limegreen}{ g }"></ng-katex> = geratriz
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
            <!-- Passo 2  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l = \pi \cdot \textcolor{blue}{ {{radius}} } \cdot \textcolor{limegreen}{ {{outsideRoot != 1 ? outsideRoot : '' }} {{ insideRoot !=1 ? '\\sqrt{' + insideRoot + '}' : '' }} } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseSeven"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                  Multiplica o raio (<ng-katex equation="\textcolor{blue}{ {{radius}} }"></ng-katex>) pela geratriz
                  fatorada.
                </div>
              </div>
            </div>
            <hr>
            <!-- Passo 3  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l = \pi \cdot \textcolor{red}{  {{ radius * outsideRoot }} {{ insideRoot !=1 ? '\\sqrt{' + insideRoot + '}' : '' }} } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseEight"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                  Multiplica <ng-katex equation="\pi"></ng-katex> pelo resultado do passo anterior.
                </div>
              </div>
            </div>
            <hr>
            <!-- Passo 4 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" class="">
                    <p *ngIf="isApprox; else elseBlock">
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l \approx \textcolor{black}{ {{ (radius * geratriz).toFixed(2) }} } \pi \ u.a.}">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseNine"></i>
                    </p>
                    <ng-template #elseBlock>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l = \textcolor{black}{ {{radius * geratriz }} } \pi \ u.a.}">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapsePaaso4"></i>
                    </ng-template>
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                  Resultado final aproximado na forma decimal em unidades de área.
                </div>
              </div>
            </div>
          </div>
          <!-- end panel  -->
        </div>
      </div><!-- end collapse Desvio Padrão -->

      <!-- Variância -->
      <div class="card">
        <div class="card-header" id="headingVariancia" data-toggle="collapse" data-target="#collapseVariancia">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseVariancia"
              aria-expanded="false" aria-controls="collapseVariancia">
              <p class="mb-0">
                Variância:
                <ng-katex class="explicacao" equation=" \approx {{ varianci }}">
                </ng-katex>
              </p>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseVariancia"></i>
          </h2>
        </div>
        <div id="collapseVariancia" class="collapse" aria-labelledby="headingVariancia" data-parent="#accordionExample">
          <!-- Panel -->
          <div class="card-body">
            <!-- Passo 1  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l = \pi \cdot \textcolor{blue}{r} \cdot \textcolor{limegreen}{ g } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseSix"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Fórmula para calcular a área lateral.
                  <ul>
                    <li>
                      <ng-katex equation="\color{blue}{ r }"></ng-katex> = raio
                    </li>
                    <li>
                      <ng-katex equation="\color{limegreen}{ g }"></ng-katex> = geratriz
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <!-- end panel  -->
        </div>
      </div><!-- end collapse Variância -->


      <!-- Coeficiente de Variação -->
      <div class="card">
        <div class="card-header" id="headingCoefVariacao" data-toggle="collapse" data-target="#collapseCoefVar">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseCoefVar"
              aria-expanded="false" aria-controls="collapseCoefVar">
              <p class="mb-0">
                Coeficiente de Variação:
                <ng-katex class="explicacao" equation=" \approx {{ coefVariacao }}">
                </ng-katex>
              </p>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2 mr-4" data-toggle="collapse"
              data-target="#collapseCoefVar"></i>
          </h2>
        </div>
        <div id="collapseCoefVar" class="collapse" aria-labelledby="headingCoefVariacao"
          data-parent="#accordionExample">
          <!-- Panel -->
          <div class="card-body">
            <!-- Passo 1  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="">
                    <p>
                      <ng-katex class="explicacao"
                        equation="\textcolor{black}{A_l = \pi \cdot \textcolor{blue}{r} \cdot \textcolor{limegreen}{ g } }">
                      </ng-katex>
                      <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                        data-target="#collapseSix"></i>
                    </p>
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Fórmula para calcular a área lateral.
                  <ul>
                    <li>
                      <ng-katex equation="\color{blue}{ r }"></ng-katex> = raio
                    </li>
                    <li>
                      <ng-katex equation="\color{limegreen}{ g }"></ng-katex> = geratriz
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <!-- end panel  -->
        </div>
      </div><!-- end collapse Coeficiênte de Variação -->

    </div>


  </div>

</est-base-view>