<est-base-view>

  <div class="scroll-center">

    <div class="btn-container mt-2 row align-items-center justify-content-center">
      <div class=" col-12 text-center">
        <h3 class="text-center">Gráfico de Colunas e Linhas</h3>
      </div>
    </div>

    <div class="form-group row input-container col-12">

      <!--Inputs-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Título dos Dados: </label>
        </div>
          <input type="text" class="form-control" id="inputEmail3" placeholder="Título" [(ngModel)]="title"
            (ngModelChange)="updateChart()">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Selecione a medida:</label>
        </div>
        <div class="col mb-2">
          <select style="height: 90%" class="form-control" (click)="getMedida($event)">
            <option *ngFor="let medida of medidas; let i = index" [value]="medida.nome">{{ medida.nome }}</option>
          </select>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Período: </label>
        </div>
          <input type="text" class="form-control" id="inputEmail3" placeholder="Separe os períodos pela letra a"
            [(ngModel)]="periodoInput" (ngModelChange)="changePeriodo()" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Nome da 1º variável: </label>
        </div>
          <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="nomeVariavel1"
            aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Quantidades: </label>
        </div>
          <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - os valores"
            [(ngModel)]="qtdVariavel1Input" (ngModelChange)="changeQuant(1)" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Nome da 2º variável: </label>
        </div>
          <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="nomeVariavel2"
            aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Quantidades: </label>
        </div>
          <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - os valores"
            [(ngModel)]="qtdVariavel2Input" (ngModelChange)="changeQuant(2)" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Fonte dos dados:</label>
        </div>
          <input type="text" class="form-control" id="inputEmail3" placeholder="Fonte" [(ngModel)]="fonteDados">
      </div><br><br><br><br>

    </div>


    <div class="row content-container col-12 row px-0 align-items-center justify-content-center text-justify">

      <!-- Gráfico -->
      <div id="chart" style="width: 100%;"></div>

      <div class="row col-12">
        <!-- Fonte dos dados -->
        <div class="mt-2 col-12">
          <label class="label1" for="inputEmail3">Fonte: {{fonteDados}}</label>
        </div>
        <!-- Div usada apenas para fazer com que os botões fiquem do lado direito -->
        <div class="col-sm">
        </div>
        <!-- Botão Tabela-->
        <div class="btn-container mt-2 row align-items-center justify-content-center">
          <est-btn-grafico [name]="'Ver Tabela Equivalente'" [modalTarget]="'#myModal'"></est-btn-grafico>
        </div>
        <!-- Modal janela que vai aparecer-->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header justify-content-center">
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                <table class="table table-borderless">
                  <caption class="titleTable"><b>{{title}}</b></caption>
                  <thead style="text-align: center;">
                    <tr style="background-color: white;">
                      <th>&nbsp;</th>
                      <th *ngFor="let medida of medidasVetChart; let i = index" scope="col">{{medida}}</th>
                    </tr>
                  </thead>
                  <tbody style="text-align: center; border-right: 1px double black;">
                    <tr class="table-secondary">
                      <td style="border-right: 1.5px double black;">{{nomeVariavel1}}</td>
                      <td style="width: auto; border-top: 1.5px double black;" *ngFor="let qtdVar1 of quantidadeVar1; let i = index">
                        {{qtdVar1}}</td>
                    </tr>
                    <tr style="background-color: white;">
                      <td style="width: auto; border-right: 1.5px double black;">{{nomeVariavel2}}</td>
                      <td style="width: auto; border-bottom: 1.5px double black;" *ngFor="let qtdVar2 of quantidadeVar2; let i = index">
                        {{qtdVar2}}</td>
                    </tr>
                  </tbody>
                  <caption>Fonte: {{fonteDados}}</caption>
                </table>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--Propriedades-->
  <div class="rightbar px-3 vh-100">

    <h3>Propriedades</h3>
    <p>
      O gráfico de colunas e linhas pode ser utilizado quando queremos
      relacionar duas variáveis. Neste gráfico apresentamos o gráfico de
      colunas integrado ao gráfico de linhas.
    </p>
    <hr>

  </div>

</est-base-view>