<section class="sidebar-nav">
    <ul class="list-group  list-group-collapse">
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_descricao']">
        Descrição
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_gera_multiplos']">
        Gerar Múltiplos
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_verifica_multiplos']">
        Verificar Múltiplos
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_gera_divisores']">
        Gerar Divisores
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_verifica_divisores']">
        Verificar Divisores
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_mmc_encontrar']">
        Encontrar MMC
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_mmc_decomposicao']">
        Encontrar MMC por Decomposição
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_mdc_divisoes_sucessivas']">
        Encontrar MDC por divisões sucessivas
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_mdc_decomposicao']">
        Encontrar MDC por Decomposição
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_primo_verifica']">
        Verifica se é primo
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['md_primo_decomposicao']">
        Decomposição de um número em primos
      </li>
    </ul>
  </section>