

<div class="container">

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    

      <div class="figure">
        <img class="figure" src="assets/images/logoif.png" alt="IFSC">
      </div>

      <h5>  PROFESSORES
        <br>
          <br>
         </h5>
      
      <div class="row">
        
      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/ailton.jpg" alt="Generic placeholder image"
          width="105" height="105">
          
        <h5>  Ailton Durigon </h5>
        <p class="text-center">
          <br> <strong>Orientador</strong>
          <br> ailton.durigon@ifsc.edu.br
          <br>
          <br>
        </p>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/vilma.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5> vilma karsburg</h5>
        
        <p class="text-center">
          <br> <strong>Orientadora</strong>
          <br> vilma.karsburg@ifsc.edu.br
          <br>
          <br>
        </p>
      
      </div>
    
    </div>
    <h5>  ALUNOS 
      <br>
          <br>
    </h5>
      <div class="row">
      
  

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/adriel.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>  Adriel Goulart
          <br>
          <br>
         </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/alex.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Alex Avila
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/antony.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Antony Pereira
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/user.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Beatriz Callegari
          <br>
          <br>
        </h5>
       
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/bertoldo.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Bertoldo Rohden
          <br>
          <br>
        </h5>
       
    </div>

    <div class="col-lg-3">
      <img class="rounded-circle" src="assets/images/colaboradores/caroline.jpeg" alt="Generic placeholder image"
        width="105" height="105">
      <h5>Caroline Oliveira
        <br>
        <br>
      </h5>
 
    </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/douglas.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>  douglas vieira
          <br>
          <br> 
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/eduardo.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Eduardo Moreira
          <br>
          <br>
        </h5>
    </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/enedir.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Enedir Junior
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/fernando.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Fernando Godoi
          <br>
          <br>
        </h5>

      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/giovane.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Giovani Girardi
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/iago.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Iago Bianquini
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/isabel.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Isabel Tosetto
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/user.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Jesiane Strauvel
          <br>
          <br>
        </h5>

      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/gilberto.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>José Gilberto
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/user.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>José Otávio
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/user.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Juber Mirande
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/keila.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Keila Fernandes
          <br>
          <br>
        </h5>

      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/user.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>keyve de Oliveira
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/user.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Leonardo Ângelo
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/marcos_matos.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Marcos Matos
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/marina.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Marina Savitzki
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/osmar.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Osmar José
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/othavio.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Othavio Henrique
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/priscila.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Priscilla Busin
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/thiago_correa.jpeg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Tiago Correa
          <br>
          <br>
        </h5>

      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/victor.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Victor klann
          <br>
          <br>
        </h5>
      </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/vinicius.png" alt="Generic placeholder image"
          width="105" height="105">
        <h5>Vinicus Carvalho
          <br>
          <br>
        </h5>
    </div>   

    <div class="col-lg-3">
      <img class="rounded-circle" src="assets/images/colaboradores/wagner.jpeg" alt="Generic placeholder image"
        width="105" height="105">
      <h5>Wagner Graciano Junior
        <br>
        <br>
      </h5>
    </div>

      <div class="col-lg-3">
        <img class="rounded-circle" src="assets/images/colaboradores/Passig.jpg" alt="Generic placeholder image"
          width="105" height="105">
        <h5> William Passig
          <br>
          <br>
        </h5>
      </div>   
  </div>

  <div class="footer-copyright text-center py-4">
    <a> © Copyright 2017-2022. </a>
    <a> Instituto Federal de Santa Catarina - Câmpus Lages</a>
    <div> Todos os direitos reservados</div>
  </div>
  