<section class="definition">
  <!-- Circunferência -->
  <div class="row definition__group mt-4">
    <div class="col-12">
      <h3>Circunferência</h3>
      <p class="p-justify">
        Circunferência é o conjunto de todos os pontos de um plano que estão a uma distância fixa de um ponto fixo
        chamado
        de centro.
      </p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6">
      <img src="../../../../../../assets/images/geometria/cincunferencia/circunferencia.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>
    <div class="col-12 col-lg-6 col-xl-6 definition__group__description align-self-center mt-4">
      <p><span class="font-weight-bold">O</span> - Centro da circunferência (ponto fixo)</p><br>
      <p><span class="font-weight-bold">P</span> - Um dos pontos que estão a uma distância fixa do centro da
        circunferência</p><br>
      <p>
        <span class="definition__group__description--distance font-weight-bold">OP</span> - Raio(de medida r) da
        circunferência(de distância fixa).
      </p>
    </div>

  </div>

  <!-- Diâmetro -->
  <div class="row definition__group mt-4">
    <div class="col-12">
      <h3>Diâmetro</h3>
      <p class="p-justify">
        Diâmetro é o segmento com extremidades em dois pontos de uma circunferência, passando sempre pelo centro.
      </p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6">
      <img src="../../../../../../assets/images/geometria/cincunferencia/diametro.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>
    <div class="col-12 col-lg-6 col-xl-6 definition__group__description align-self-center mt-4">
      <p><span class="definition__group__description--distance font-weight-bold mr-2">AC</span> e
        <span class="definition__group__description--distance font-weight-bold ml-2 mr-2">BD </span> são diâmetros.
      </p>
    </div>
  </div>

  <!-- Raio -->
  <div class="row definition__group mt-4">
    <div class="col-12">
      <h3>Raio</h3>
      <p class="p-justify">
        Raio é o segmento que une o centro a qualquer ponto da circunferência.
      </p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6">
      <img src="../../../../../../assets/images/geometria/cincunferencia/raio.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>
    <div class="col-12 col-lg-6 col-xl-6 definition__group__description align-self-center  mt-4">
      <p>Em uma circunferência, podemos traçar infinitos raios. Todos serão congruentes</p>
      <p>
        <span class="definition__group__description--distance font-weight-bold mr-2">OA</span> =
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">OB</span> =
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">OC</span> =
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">OD</span> =
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">OE</span> =
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">OF</span> =
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">...</span> =
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">r</span>
      </p>
    </div>
  </div>

  <!-- Corda -->
  <div class="row definition__group mt-4">
    <div class="col-12">
      <h3>Corda</h3>
      <p class="p-justify">
        Corda é o segmento com extremidades em dois pontos da circunferência.
      </p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6">
      <img src="../../../../../../assets/images/geometria/cincunferencia/corda.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>
    <div class="col-12 col-lg-6 col-xl-6 definition__group__description align-self-center  mt-4">
      <p>
        <span class="definition__group__description--distance font-weight-bold mr-2">AB</span> ,
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">CF</span> e
        <span class="definition__group__description--distance font-weight-bold mr-2 ml-2">DE</span> são cordas.
      </p>
    </div>
  </div>

  <!-- Flecha -->
  <div class="row definition__group mt-4">
    <div class="col-12">
      <h3>Flecha</h3>
      <p class="p-justify">
        Flecha é o segmento de reta com extremidades no ponto médio de uma corda e no ponto médio do arco determinado
        pela corda.
      </p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6">
      <img src="../../../../../../assets/images/geometria/cincunferencia/flecha.png" alt=""
        class="definition__group__img img-fluid rounded mx-auto d-block justify-content-center" />
    </div>
    <div class="col-12 col-lg-6 col-xl-6 definition__group__description align-self-center  mt-4">
      
    </div>
  </div>
</section>
