<section class="ifmath-side-bar">
  <ul class="list-group  list-group-collapse">
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['pnf_definicao']">
      Definição
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['pnf_produto_notavel']">
      Produto Notável
    </li>
    <li class="list-group-item list-group-item-action side-bar__selected" [routerLink]="['pnf_fatoracao']">
      Fatoração
    </li>
  </ul>
</section>