<geo-base-view>

  <!-- Botões de navegação -->
  <div class="btn-container mt-2 row">
    <h5 class="mt-2 col-12 text-center">Escolha abaixo a posição de uma geometria em relação a uma circunferência</h5>
    <geo-btn *ngFor="let button of buttons; let i = index" [name]="button.title" [route]="button.route"></geo-btn>
  </div>

  <div class="content-container col-12 row px-0 align-items-center justify-content-center">
    <!-- Inserção de valores do usuário -->
    <div class=" mt-4">
      <p class="text-center">
        Entre com a medida do raio(<ng-katex equation="\color{red}{r1}"></ng-katex>):
        <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="radiusOne"
          oninput="this.value = Math.abs(this.value)" (ngModelChange)="checkInput()" max="10" min="1" />
        da primeira circunferência
        <br>
        <br>
        Entre com a medida do raio (<ng-katex equation="\color{red}{r2}"></ng-katex>):
        <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="radiusTwo"
          oninput="this.value = Math.abs(this.value)" (ngModelChange)="checkInput()" max="10" min="1" />
        da segunda circunferência
      </p>

      <div [className]="errorInputRadius === true ? ' mt-1 alert alert-danger' : ' mt-1 alert alert-primary'"
        role="alert" style="text-align: center;">
        Os raios deve ser valores inteiros contidos entre <b>1</b> e <b>10</b>.
      </div>

    </div>



    <!-- Cena -->
    <geo-scene (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" [shorten]="true"
      class="col-12 row px-0 bg-primary img-fluid" [hasOrbitControls]="false" [hasPerspective]="false">
    </geo-scene>

    <!-- Observação para o usuário -->
    <div class="alert alert-primary alert-dismissible obs" role="alert" style="text-align: center;" id="obs">
      Você pode clicar e arrastar o centro das circunferências.
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>

  <!-- Propriedades -->
  <div class="rightbar px-3 vh-100">
    <h4>
      Posição relativa entre duas circunferências
    </h4>
    <h5>
      Exemplos:
    </h5>
    <button class="btn btn-primary m-1" *ngFor="let button of buttons_examples"
      (click)="loadExample($event, button.value)">
      {{button.title}}
    </button>
    <hr />
    <h5>
      Propriedades:
    </h5>
    <div *ngIf="relation == 0">
      <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">Circunferências Secantes</h5>
        <p>Duas circunferências são secantes quando possuem dois pontos comuns.</p>
        <p>Podemos deduzir se as circunferências A e B são secantes usando a seguinte fórmula:</p>
        <p>
          <ng-katex equation="|r1 - r2| < d < r1 + r2"></ng-katex>
        </p>
        <p>Sabendo que, r1 é o raio da circunferência A, r2 é o raio da circunferência B e d é a distância entre as
          circunferências. Logo: </p>
        <p>
          <ng-katex equation="|{{radiusOne}} - {{radiusTwo}}| < {{distance}} < {{radiusOne}} + {{radiusTwo}}"></ng-katex>
          <br />
          <ng-katex equation="{{subRadius}} < {{distance}} < {{sumRadius}}"></ng-katex>
        </p>
      </div>
    </div>
    <div *ngIf="relation == 1">
      <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">Circunferências Tangentes Interiores</h5>
        <p>
          Duas circunferências são tangentes interiores quando têm apenas um ponto comum, uma é interna à outra, e a
          distância entre os seus centros é igual à
          diferença, em módulo, entre as medidas dos seus raios.
        </p>
        <p>Podemos deduzir se as circunferências A e B são secantes usando a seguinte fórmula:</p>
        <p>
          <ng-katex equation="d = |r1 - r2|"></ng-katex>
        </p>
        <p>Sabendo que, r1 é o raio da circunferência A, r2 é o raio da circunferência B e d é a distância entre as
          circunferências. Logo: </p>
        <p>
          <ng-katex equation="{{distance}} = |{{radiusOne}} - {{radiusTwo}}|"></ng-katex>
          <br />
          <ng-katex equation="{{distance}} = {{subRadius}}"></ng-katex>
        </p>
      </div>
    </div>
    <div *ngIf="relation == 2">
      <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">Circunferências Tangentes Exteriores</h5>
        <p>Duas circunferências são tangentes exteriores quando têm apenas um ponto comum, suas regiões internas não
          têm pontos comuns, e a distância entre os
          seus centros é igual à soma das medidas dos seus raios.</p>
        <p>Podemos deduzir se as circunferências A e B são secantes usando a seguinte fórmula:</p>
        <p>
          <ng-katex equation="d = r1 + r2"></ng-katex>
        </p>
        <p>Sabendo que, r1 é o raio da circunferência A, r2 é o raio da circunferência B e d é a distância entre as
          circunferências. Logo: </p>
        <p>
          <ng-katex equation="{{distance}} = {{radiusOne}} + {{radiusTwo}}"></ng-katex>
          <br />
          <ng-katex equation="{{distance}} = {{sumRadius}}"></ng-katex>
        </p>
      </div>
    </div>
    <div *ngIf="relation == 3">
      <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">Circunferências Internas</h5>
        <p>
          Duas circunferências são internas quando não tem ponto comum, uma é interna à outra, e a distância entre os
          centros é maior ou igual a zero e menor que a
          diferença, em módulo, entre as medidas dos raios.
        </p>
        <p>Podemos deduzir se as circunferências A e B são secantes usando a seguinte fórmula:</p>
        <p>
          <ng-katex equation="0 \leq d < |r1 - r2|"></ng-katex>
        </p>
        <p>Sabendo que, r1 é o raio da circunferência A, r2 é o raio da circunferência B e d é a distância entre as
          circunferências. Logo: </p>
        <p>
          <ng-katex equation="0 \leq {{distance}} < {{radiusOne}} - {{radiusTwo}}"></ng-katex>
          <br />
          <ng-katex equation="0 \leq {{distance}} < {{subRadius}}"></ng-katex>
        </p>
      </div>
    </div>
    <div *ngIf="relation == 4">
      <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">Circunferências Externas</h5>
        <p>
          Duas circunferências são consideradas externas quando não possuem pontos em comum. A condição para que isso
          ocorra é que a distância
          entre os centros das circunferências deve ser maior que a soma das medidas de seus raios.
        </p>
        <p></p>
        <p>
          <ng-katex equation="d > r1 + r2"></ng-katex>
        </p>
        <p>Sabendo que, r1 é o raio da circunferência A, r2 é o raio da circunferência B e d é a distância entre as
          circunferências. Logo: </p>
        <p>
          <ng-katex equation="{{distance}} > {{radiusOne}} + {{radiusTwo}}"></ng-katex>
          <br />
          <ng-katex equation="{{distance}} > {{sumRadius}}"></ng-katex>
        </p>
      </div>
    </div>
  </div>

</geo-base-view>