<section class="sidebar-nav">
    <ul class="list-group  list-group-collapse">
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_descricao']">
        Descrição
      </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_leitura_escrita']">
          Escrita de um Número
        </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_antecessor_sucessor']">
            Antecessor e Sucessor
        </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_comparacao-numeros']">
          Comparação entre Números
        </li>
       <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_adicao']">
          Adição
         </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_subtracao']">
          Subtração
       </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_multiplicacao']">
          Multiplicação
       </li>
      <li id="selected-yellow" class="list-group-item list-group-item-action" [routerLink]="['nn_divisao']">
         Divisão
      </li>
    </ul>
  </section>