<section class="rp-sidebar">
  <h4 class="title">Circunferência</h4>
  <ul class="list-group list-group-collapse">
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cf_definicao']">
      Definição
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cf_posicao_relativa']">
      Posição Relativa
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cf_angulos']">
      Ângulos e Arcos na Circunferência
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cf_comprimento_circunferencia']">
      Comprimento da Circunferência
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cf_relacoes_metricas']">
      Relações Métricas
    </li>
  </ul>
  <h4 class="title">Círculo</h4>
  <ul class="list-group list-group-collapse">
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cl_definicao']">
      Definição
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cl_area_circ']">
      Área do Círculo
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cl_area_setor']">
      Área de um setor circular
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['cl_area_coroa']">
      Área da coroa circular
    </li>
  </ul>
</section>