<section class="ifmath-description">
    
    <br>
    <h3>Os números naturais</h3>
      <p class="p-justify">
        Os números naturais são representados por <strong>todos os números positivos</strong>, 
        começando pelo zero, e eles são utilizados para indicar uma contagem, medida ou código.
        O símbolo que representa esse conjunto é <strong>N</strong>.
        <br>
        <strong>N*</strong> é o símbolo utilizado para não incluir o elemento zero no conjunto,
        definido como conjunto dos números naturais não-nulos.
        <br>
      </p>

      <h3>Números pares e ímpares</h3>
      <p class="p-justify">
        Todos os números naturais podem ser definidos como par ou ímpar. Um número é definido como
        <strong>par</strong> quando ele é <strong>divisível por 2</strong> e o <strong>resto</strong>
        dessa divisão <strong>resultar em 0</strong>. Um número é definido como <strong>ímpar</strong>
         se o <strong>resto</strong> dessa divisão for <strong>diferente de 0</strong>. O zero é
         comumente adicionado ao conjunto dos números pares.
        <br>
        Conjunto dos números pares = &#123;0,2,4,6,8,10...&#125;
        <br>
        Conjunto dos números ímpares = &#123;1,3,5,6,7...&#125;
        <br>

      </p>

      <br>

<!--      
  <h3>Antecessor de um número natural</h3>
        <p class="p-justify">
          Todos os números naturais, com exceção do zero, possuem um antecessor. Para que um número
          seja antecessor a outro, ele precisa ser 1 unidade menor que o número em comparação.
          <br>
          <strong>11</strong> é antecessor de <strong>12</strong>.
          <br>
          <strong>29</strong> é antecessor de <strong>30</strong>.
          <br>
        </p>
  
      <br>

      <h3>Sucessor de um número natural</h3>
        <p class="p-justify">
          Todos os números naturais, possuem um sucessor. Para que um número
          seja sucessor a outro, ele precisa ser 1 unidade maior que o número em comparação.
          <br>
          <strong>7</strong> é sucessor de <strong>6</strong>.
          <br>
          <strong>14</strong> é sucessor de <strong>13</strong>.
          <br>
        </p>-->


      <br>

  <br>

    </section>