<est-base-view>
  <div class="scroll-center">

    <div class="btn-container mt-2 row align-items-center justify-content-center">
      <div class=" col-12 text-center">
        <h3 class="text-center">Gráfico de Colunas</h3>
      </div>
    </div>

    <!--Inputs-->
    <div class="form-group row input-container col-12">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Título dos Dados: </label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Título" [(ngModel)]="title"
          (ngModelChange)="updateChart()">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Nome da Variável: </label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Variável" [(ngModel)]="nomeVariavel">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Insira os(as) <b>{{nomeVariavel}}</b> :</label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - os valores"
          [(ngModel)]="varQuantInput" (ngModelChange)="changeVarQuant()" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Fonte dos dados:</label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Fonte" [(ngModel)]="fonteDados">
      </div>

    </div>


    <div class="row content-container col-12 row px-0 align-items-center justify-content-center text-justify">

      <!-- Gráfico -->
      <div id="chart" style="width: 100%;"></div>

      <div class="row col-12">
        <!-- Fonte dos dados -->
        <div class="col-sm">
          <label class="label1" for="inputEmail3">Fonte: {{fonteDados}}</label>
        </div>
        <!-- Botão Tabela-->
        <div class="col-4">
          <est-btn-grafico [name]="'Ver Tabela Equivalente'" [modalTarget]="'#myModal'"></est-btn-grafico>
        </div>
        <!-- Modal janela que vai aparecer-->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header justify-content-center">
                <b>
                  <h5 class="modal-title">{{title}}</h5>
                </b>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead class="table-info" style="text-align: center;">
                    <tr>
                      <th scope="col">{{nomeVariavel}}</th>
                      <th scope="col">Frequência (fi)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-light" *ngFor="let element of varQuant; let i = index" style="text-align: center;">
                      <td>{{element}}</td>
                      <td>{{frequenciaAbs[i]}}</td>
                    </tr>
                    <tr class="table-info" style="text-align: center;">
                      <th scope="row">
                        <ng-katex class="explicacao" equation="\textcolor{black}{ \Sigma }">
                        </ng-katex>
                      </th>
                      <td>{{qtdTotal}}</td>
                    </tr>
                  </tbody>
                  <caption>Fonte: {{fonteDados}}</caption>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--Propriedades-->
  <div class="rightbar px-3 vh-100">

    <h3>Propriedades</h3>
    <p>
      O gráfico de colunas apresenta dados categorizados em barras retangulares
      verticais nos quais os retângulos correspondentes a cada categoria é proporcional
      ao número de observações na respectiva categoria. O gráfico de colunas é utilizado
      para realizar comparações entre as categorias de uma variável qualitativa ou
      quantitativa discreta.
    </p>
    <hr>

    <!-- Exemplo -->
    <div *ngFor="let varQ of varQuant; let i = index" class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingPrincipal" data-toggle="collapse"
          [attr.data-target]="'#collapsePrincipal' + i">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
              [attr.data-target]="'#collapsePrincipal' + i" aria-expanded="false" aria-controls="collapsePrincipal">
              {{varQuant[i]}} = <ng-katex class="explicacao" equation=" {{frequenciaAbs[i]}}">
              </ng-katex> Unidades
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
              [attr.data-target]="'#collapsePrincipal' + i"></i>
          </h2>
        </div>
        <div [attr.id]="'collapsePrincipal' + i" class="collapse" aria-labelledby="headingPrincipal"
          data-parent="#accordionExample">
          <div class="card-body">
            <h5><b>O número {{varQuant[i]}} se repete {{frequenciaAbs[i]}} vezes</b></h5>
            <p>Primeiramente verificamos quantas vezes o número {{varQuant[i]}} se repete</p>
            <div class="panel-group" id="accordion">
              <hr>
              <!--Passo 2-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{  
                                    \begin{matrix}
                                        Base = 1 \text{ unidade} \\
                                        Altura = {{frequenciaAbs[i]}} \text{ unidades}
                                     \end{matrix} }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Desenhamos um retângulo alinhado abaixo, medindo uma unidade de base e
                    <ng-katex equation="\color{blue}{ {{frequenciaAbs[i]}} }"></ng-katex> unidades de
                    altura.
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</est-base-view>