:host{
    width: 100%;
}

.ifmath-form_img-formula{
   margin-top: 12%;
}
:host ::ng-deep .resultnumber{
    clear:both;
    font-size:3.3vh;
    width:inherit;
}

:host ::ng-deep .bottomDigit{
    float: left;
    font-size: 3.5vh;
}

:host ::ng-deep .digit{
    float:left;
    min-width:4.4vh;
    max-width:4.4vh;
    margin:0;
    
}

:host ::ng-deep .digitSub{
    float:left;
    min-width:4.4vh;
    max-width:4.4vh;
    margin:0;
    border-bottom: 2px solid #000;
}
:host ::ng-deep .seta-4{
    border-top: 20px solid rgb(0, 0, 0);
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent;
    margin:20px 0px 10px 15%; float:left;
}
:host ::ng-deep .fa{
    clear: both;
}

:host ::ng-deep .coverLeftSide{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    row-gap: 1px;
}

:host ::ng-deep .coverRightSide{
    display: grid;
    margin-left: 10px;
    grid-template-rows: repeat(2,1fr);
    row-gap: 1px;
    max-height: 30px;
}
:host ::ng-deep .divoperation{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    margin-bottom: 2px;
}
:host ::ng-deep .addoperation2{
    box-sizing: content-box;
    float:left;
}
:host ::ng-deep .step{
    clear:both;
    box-sizing: content-box;
}
:host ::ng-deep .halfnumber{
    font-size: 2.35vh;
}
:host ::ng-deep .dividendo{
    font-size:3.5vh;
    clear:both;
    box-sizing: content-box;
    float:left;
    height:auto;
    margin-top: 0;
}

:host ::ng-deep .topUnity{
    font-size:3.5vh;
    clear:both;
    margin-bottom:0px;
    box-sizing: content-box;
    float:left;
    height:7vh;
    margin-top: -2.4vh;
}



:host ::ng-deep .divisor{
    height: 10px;
    font-size:3.5vh;
    padding-left: 4px;
    clear:left;
    margin-top:0px;
    box-sizing: content-box;
    float:left;
    height:auto;
    position: relative;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    text-align: left;
}
:host ::ng-deep .finalresult{
    font-size:8vh;
    
}

:host ::ng-deep .leftover{
    font-size:3.5vh;
    float:left;
    color: grey;
    margin-bottom: -4vh;
}
:host ::ng-deep .leftoverf{
    font-size:5vh;
    float:left;
  
}
:host ::ng-deep .finalresult{
    font-size:5vh;
   
    float:left;
}

@media only screen and (max-width:500px){
    :host ::ng-deep .leftover{
        font-size:1.2vh;
    }
    :host ::ng-deep .leftoverf{
        font-size:3.5vh;
       
    }
    :host ::ng-deep .finalresult{
        font-size: 3.2vh;
    }
    :host ::ng-deep .dividendo{
        font-size: 2.7vh;
    }
    :host ::ng-deep .divisor{
        font-size: 2.7vh;
        margin-top: -3.1vh;
    }
    :host ::ng-deep .digit{
        min-width: 1.7vh;
        max-width: 1.7vh;
    }
    :host ::ng-deep .resultnumber{
        font-size: 2.7vh;
    }
}
