<section class="rp-sidebar">
  <ul class="list-group list-group-collapse">
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['pl_definicao']">
      Definição
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action disabled"> <!--  [routerLink]="['pl_triangulos']" -->
      Triângulos
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['pl_quadrilateros']">
      Quadriláteros
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['pl_regulares']">
      Polígonos Regulares
    </li>
    <li id="selecionado" class="list-group-item list-group-item-action" [routerLink]="['pl_n_lados']">
      Polígonos com “n” lados
    </li>
  </ul>
</section>