<section class="ifmath-theme">
  <div class="container">
    <br />
    <section class="ifmath-description">
      <p class="p-justify">
        Quando analisamos dados que sugerem a existência de uma relação
        funcional entre duas variáveis, surge então o problema de se determinar
        uma função matemática que exprima esse relacionamento, ou seja, uma
        equação de regressão.
        <br />
        Ao imaginar uma relação funcional entre duas variáveis, digamos X e Y,
        estamos interessados numa função que explique grande parte da variação
        de Y por X.
        <br />
        O modelo em que busca explicar uma variável Y como uma função linear de
        apenas uma variável X é denominado de modelo de regressão linear
        simples.
        <br />
        A reta estimada de regressão será:
      </p>
    </section>
  </div>
</section>
