@import '../../shared/style/est-conteudo.scss';
@import '../../shared/style/est-rightbar.scss';

#Chart{
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
}

.label {
    padding-top: 7px;
    text-align: right;   
    margin-right: 10px; 
}

.label1 {
    padding-top: 7px;
    text-align: right; 
    align-items: baseline;;   
}

//.input {
  
//}

