<est-base-view>

  <div class="scroll-center">

    <div class="btn-container mt-2 row align-items-center justify-content-center">
      <div class=" col-12 text-center">
        <h3 class="text-center">Gráfico de Setores</h3>
      </div>
    </div>

    <div class="form-group row input-container col-12">
      <!--Inputs
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="label">Título dos Dados: </label>
      </div>
      <input type="text" class="form-control" id="inputEmail3" placeholder="Título" [(ngModel)]="title"
        (ngModelChange)="updateChart()">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="label">Nome da Variável: </label>
      </div>
      <input class="input" type="text" class="form-control" id="inputEmail3" placeholder="variável"
        [(ngModel)]="nomeVariavel">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="label">Variáveis qualitativas:</label>
      </div>
      <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - as palavras"
        [(ngModel)]="varQualInput" (ngModelChange)="changeVarQual()">
      <est-form-msg-error style="margin-left: auto;" [mostrarErro]="errorInputVar" msgErro="O número de variáveis deve ser igual ao do campo quantidades">
      </est-form-msg-error>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="label" id="basic-addon1">Quantidades: </label>
      </div>
      <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - os valores"
        [(ngModel)]="quantInput" (ngModelChange)="changeQuant()" aria-describedby="basic-addon1">
      <est-form-msg-error style="margin-left: auto;" [mostrarErro]="errorInputQtd" msgErro="O número de quantidades deve ser igual ao do campo variáveis">
      </est-form-msg-error>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="label">Fonte dos dados:</label>
      </div>
      <input type="text" class="form-control" id="inputEmail3" placeholder="Fonte" [(ngModel)]="fonteDados">
    </div>-->


      <!--Inputs-->

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Título dos Dados: </label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Título" [(ngModel)]="title"
          (ngModelChange)="updateChart()">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Nome da Variável: </label>
        </div>
        <input class="input" type="text" class="form-control" id="inputEmail3" placeholder="variável"
          [(ngModel)]="nomeVariavel">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <label class="label">Variáveis qualitativas:</label>
        </div>
        <div class="col mb-3">
          <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - as palavras"
            [(ngModel)]="varQualInput" (ngModelChange)="changeVarQual()">
          <est-form-msg-error class="mb-3" style="margin-left: auto;" [mostrarErro]="errorInputVar"
            msgErro="O número de variáveis deve ser igual ao do campo quantidades">
          </est-form-msg-error>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label" id="basic-addon1">Quantidades: </label>
        </div>
        <div class="col mb-2">
          <input type="text" class="form-control" id="inputEmail3" placeholder="Separe por - os valores"
            [(ngModel)]="quantInput" (ngModelChange)="changeQuant()" aria-describedby="basic-addon1">
          <est-form-msg-error style="margin-left: auto;" [mostrarErro]="errorInputQtd"
            msgErro="O número de quantidades deve ser igual ao do campo variáveis">
          </est-form-msg-error>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Fonte dos dados:</label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Fonte" [(ngModel)]="fonteDados">
      </div>

    </div>


    <div class="row content-container col-12 row px-0 align-items-center justify-content-center text-justify">

      <!-- Entradas -->
      <div class="mt-4">
        <div [className]="errorInput === true ? ' mt-1 alert alert-danger' : ' mt-1 alert alert-primary'" role="alert">
          O número de n variáveis deve ser menor que <b>10</b>.
        </div>
        <!-- Gráfico -->
        <div id="chart" style="width: max-content;"></div>
      </div>

      <div class="row col-12">
        <!-- Fonte dos dados -->
        <div class="mt-2 col-12">
          <label class="label1" for="inputEmail3">Fonte: {{fonteDados}}</label>
        </div>
        <!-- Div usada apenas para fazer com que os botões fiquem do lado direito -->
        <div class="col-sm">
        </div>
        <!-- Botão Tabela-->
        <div class="btn-container mt-2 row align-items-center justify-content-center">
          <est-btn-grafico [name]="'Ver Tabela Equivalente'" [modalTarget]="'#myModal'"></est-btn-grafico>
        </div>
        <!-- Modal janela que vai aparecer-->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header justify-content-center">
                <b>
                  <h5 class="modal-title">{{title}}</h5>
                </b>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead class="table-info" style="text-align: center;">
                    <tr>
                      <th scope="col">{{nomeVariavel}}</th>
                      <th scope="col">Frequência (fi)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-light" *ngFor="let element of varQual; let i = index" style="text-align: center;">
                      <th scope="row">{{element}}</th>
                      <td>{{quantidade[i]}}</td>
                    </tr>
                    <tr class="table-info" style="text-align: center;">
                      <th scope="row">Total</th>
                      <td>{{qtdTotal}}</td>
                    </tr>
                  </tbody>
                  <caption>Fonte: {{fonteDados}}</caption>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--Propriedades-->
  <div class="rightbar px-3 vh-100">

    <h3>Propriedades</h3>
    <p>
      O gráfico de setores, popularmente conhecido como gráfico de pizza, consiste
      em apresentar informações na forma de setor circular. Para tanto, basta
      considerar que 100% dos dados equivalem a um setor circular de 360° ou seja o
      ângulo de cada setor circular corresponde a uma porcentagem dos dados presentes no nosso problema.
    </p>
    <hr>

    <!-- Exemplo -->
    <div *ngFor="let varQ of varQual; let i = index" class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingPrincipal" data-toggle="collapse"
          [attr.data-target]="'#collapsePrincipal' + i">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
              [attr.data-target]="'#collapsePrincipal' + i" aria-expanded="false" aria-controls="collapsePrincipal">
              {{varQual[i]}} <ng-katex class="explicacao" equation=" \approx {{ (((quantidade[i] * 100)/qtdTotal).toFixed(1)) | number:'':'pt' }} \% 
                           \approx {{ (((quantidade[i] * 360)/qtdTotal).toFixed(1)) | number:'':'pt' }} \degree">
              </ng-katex>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
              [attr.data-target]="'#collapsePrincipal' + i"></i>
          </h2>
        </div>
        <div [attr.id]="'collapsePrincipal' + i" class="collapse" aria-labelledby="headingPrincipal"
          data-parent="#accordionExample">
          <div class="card-body">
            <div class="panel-group" id="accordion">
              <!--Passo 1-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{  
                      \begin{matrix}
                          {{qtdTotal}} & \text{------} & 100 \% \\
                          {{quantidade[i]}} & \text{------} & x
                       \end{matrix} }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    Utilizamos regra de três para determinar o percentual correspondente à região
                    em questão.
                    <ul>
                      <li>
                        No lado esquerdo temos a quantidade total de dados(
                        <ng-katex equation="\color{red}{ {{qtdTotal}} }"></ng-katex>) e a
                        quantidade de dados da região em questão (<ng-katex
                          equation="\color{blue}{ {{quantidade[i]}} }"></ng-katex>).
                      </li>
                      <li>
                        No lado direito temos o percentual associado à quantidade total (100%) e o
                        percentual que desejamos calcular (x).
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <hr>
              <!--Passo 2-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                      <p>
                        <ng-katex class="explicacao"
                          equation="\textcolor{black}{ {{qtdTotal}}x = {{quantidade[i]}}\cdot 100\% }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Multiplicando em X temos o resultado acima
                    <ul>
                      <li>
                        Observe que as grandezas são diretamente proporcionais
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <hr>
              <!--Passo 3-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                      <p>
                        <ng-katex class="explicacao"
                          equation="\textcolor{black}{ x =  \dfrac{ {{ quantidade[i] * 100}} }{ {{qtdTotal}} }   }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Após realizar a multiplicação no passo anterior, passamos o número
                    <ng-katex class="explicacao" equation="\textcolor{black}{ {{qtdTotal}} }">
                    </ng-katex> dividindo.
                  </div>
                </div>
              </div>
              <hr>
              <!--Passo 4-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="">
                      <p>
                        <ng-katex class="explicacao"
                          equation="\textcolor{black}{ x \approx {{ (((quantidade[i] * 100)/qtdTotal).toFixed(1)) | number:'':'pt' }} \% }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    Efetuando a divisão obtemos o percentual equivalente.
                  </div>
                </div>
              </div>
              <hr>
              <!--Passo 5-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{  
                    \begin{matrix}
                        {{qtdTotal}} & \text{------} & 100 \degree \\
                        {{quantidade[i]}} & \text{------} & \alpha
                     \end{matrix} }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                  <div class="panel-body">
                    Utilizamos regra de três para determinar o percentual correspondente à região
                    em questão.
                    <ul>
                      <li>
                        No lado esquerdo temos a quantidade total de dados(
                        <ng-katex equation="\color{red}{ {{qtdTotal}} }"></ng-katex>) e a
                        quantidade de dados da região em questão
                        (<ng-katex equation="\color{blue}{ {{quantidade[i]}} }"></ng-katex>).
                      </li>
                      <li>
                        No lado direito temos os graus associados à quantidade total (360º)
                        e os graus que desejamos calcular (<ng-katex equation="\color{black}{ \alpha }"></ng-katex>).
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <hr>
              <!--Passo 6-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="">
                      <p>
                        <ng-katex class="explicacao"
                          equation="\textcolor{black}{ {{qtdTotal}} \alpha = {{quantidade[i]}}\cdot 360\degree }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                  <div class="panel-body">
                    Multiplicando em x temos o resultado acima.
                    <ul>
                      <li>
                        Obeserve que as grandezas são diretamente proporcionais.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <hr>
              <!--Passo 7-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="">
                      <p>
                        <ng-katex class="explicacao"
                          equation="\textcolor{black}{ \alpha =  \dfrac{ {{ quantidade[i] * 360}} }{ {{qtdTotal}} }   }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                  <div class="panel-body">
                    Após realizar a multiplicação no passo anterior, passamos o número
                    <ng-katex class="explicacao" equation="\textcolor{black}{ {{qtdTotal}} }">
                    </ng-katex> dividindo.
                  </div>
                </div>
              </div>
              <hr>
              <!--Passo 8-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="">
                      <p>
                        <ng-katex class="explicacao"
                          equation="\textcolor{black}{ \alpha \approx {{ (((quantidade[i] * 360)/qtdTotal).toFixed(1)) | number:'':'pt' }} \degree }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                  <div class="panel-body">
                    Efetuando a divisão obtemos a abertura do ângulo.
                  </div>
                </div>
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</est-base-view>