<est-base-view>

  <div class="scroll-center">
    <div class="btn-container mt-2 row align-items-center justify-content-center">
      <div class=" col-12 text-center">
        <h3 class="text-center">Gráfico de Barras Múltiplas</h3>
      </div>
    </div>

    <!--Inputs-->
    <div class="form-group row input-container col-12">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Título dos Dados: </label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Título" [(ngModel)]="title"
          (ngModelChange)="updateChart()">
      </div>
      <!--Vou ter que usar essa forma de input, tenho que adequar as mensagens de erro-->
      <!--Classificação da primeira variável-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Classificação da primeira variável: </label>
        </div>
        <input class="input" type="text" class="form-control" id="inputEmail3" placeholder="variável"
          [(ngModel)]="classifVar1Input">
      </div>

      <!--Nomes das variáveis-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Insira os/as <b>{{classifVar1Input}}:</b> </label>
        </div>
        <input class="input" type="text" class="form-control" id="inputEmail3" placeholder="variável"
          [(ngModel)]="classifVarVal1Input" (ngModelChange)="updateClassifVarVal1()">
      </div>

      <!--Classificação das demais variáveis-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Classificação das demais variáveis </label>
        </div>
        <input class="input" type="text" class="form-control" id="inputEmail3" placeholder="variável"
          [(ngModel)]="classifVar2Input">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Insira os/as <b>{{classifVar2Input}}:</b> </label>
        </div>
        <input class="input" type="text" class="form-control" id="inputEmail3" placeholder="variável"
          [(ngModel)]="classifVarVal2Input" (ngModelChange)="updateClassifVarVal2()">
      </div>

      <!-- Aqui vai estar todos os inputs gerados dinâmicamente -->
      <div *ngFor="let series of classifVarVal2; let i = index" class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Insira a quantidade de <b>{{series}}</b></label>
        </div>
        <input class="input" type="text" class="form-control" id="inputEmail3" placeholder="variável"
          [(ngModel)]="chartDataSeries[i]" (ngModelChange)="updateChartSeries(i)">
      </div>

      <!--Fonte dos dados-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="label">Fonte dos dados:</label>
        </div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Fonte" [(ngModel)]="fonteDados">
      </div>

    </div>

    <div class="row content-container col-12 row px-0 align-items-center justify-content-center text-justify">
      <!-- Entradas -->
      <div class=" mt-4">
        <div [className]="errorInput === true ? ' mt-1 alert alert-danger' : ' mt-1 alert alert-primary'" role="alert">
          O número de n variáveis deve ser menor que <b>10</b>.
        </div>
      </div>

      <!-- Gráfico -->
      <div id="chart" style="width: 100%;"></div>

      <div class="row col-12">
        <!-- Fonte dos dados -->
        <div class="mt-2 col-12">
          <label class="label1" for="inputEmail3">Fonte: {{fonteDados}}</label>
        </div>
        <!-- Div usada apenas para fazer com que os botões fiquem do lado direito -->
        <div class="col-sm">
        </div>
        <!-- Botão Tabela-->
        <div class="btn-container mt-2 row align-items-center justify-content-center">
          <est-btn-grafico [name]="'Ver Tabela Equivalente'" [modalTarget]="'#myModal'"></est-btn-grafico>
        </div>
        <!-- Modal janela que vai aparecer-->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header justify-content-center">
                <b>
                  <h5 class="modal-title"><b>{{title}}</b></h5>
                </b>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="table-info" style="text-align: center;">
                      <tr>
                        <th class="table-secondary" style="vertical-align: middle;" scope="col" rowspan="2">
                          {{classifVar1Input}}</th>
                        <th class="table-warning" scope="colgroup" [attr.colspan]="classifVarVal2.length">
                          {{classifVar2Input}}</th>
                        <th style="vertical-align: middle;" scope="col" rowspan="2">Total</th>
                      </tr>
                      <tr>
                        <th class="table-warning" scope="col" *ngFor="let classDemaisVar of classifVarVal2">
                          {{classDemaisVar}}</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center;">
                      <tr *ngFor="let variables of classifVarVal1; let ind = index">
                        <td>{{variables}}</td>
                        <td *ngFor="let values of classifVarVal2; let i = index">
                          {{chartSeries[i].data[ind] | number:'':'pt'}}</td>
                        <td>{{qtdTotalSeries[ind]}}</td>
                      </tr>
                    </tbody>
                    <caption>Fonte: {{fonteDados}}</caption>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--Propriedades-->
  <div class="rightbar px-3 vh-100">

    <h3>Propriedades</h3>
    <p>
      São gráficos de barras envolvendo múltiplas variáveis.
    </p>
    <hr>
    <!-- Exemplo -->
    <div *ngFor="let variaveis of classifVarVal1; let ind = index" class="accordion" id="accordionExample">
      <h3 style="color:rgb(10, 10, 179);">{{variaveis}}</h3>
      <div *ngFor="let valores of classifVarVal2; let i = index" class="accordion" id="accordionExample1">
        <div class="card">
          <div class="card-header" id="headingPrincipal" data-toggle="collapse"
            [attr.data-target]="'#collapsePrincipal' + i + ind">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                [attr.data-target]="'#collapsePrincipal' + i + ind" aria-expanded="false"
                aria-controls="collapsePrincipal">
                {{valores}} = <ng-katex class="explicacao" equation=" {{chartSeries[i].data[ind] | number:'':'pt'}}">
                </ng-katex> Unidades
              </button>

              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                [attr.data-target]="'#collapsePrincipal' + i + ind"></i>
            </h2>
          </div>
          <div [attr.id]="'collapsePrincipal' + i + ind" class="collapse" aria-labelledby="headingPrincipal"
            data-parent="#accordionExample1">
            <div class="card-body">
              <div class="panel-group" id="accordion">
                <!--Passo 1-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+ i + ind" class="">
                        <p>
                          <ng-katex class="explicacao" equation="\textcolor{black}{  
                      \begin{matrix}
                          Base = {{chartSeries[i].data[ind] | number:'':'pt'}} \text{ unidades} \\
                          Altura = 1 \text{ unidade} 
                       \end{matrix} }">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div [attr.id]="'collapseOne'+ i + ind" class="panel-collapse collapse">
                    <div class="panel-body">
                      Desenhamos um retângulo alinhado a esquerda, medindo
                      <ng-katex equation="\color{blue}{ {{chartSeries[i].data[ind] | number:'':'pt'}} }"></ng-katex>
                      unidades de base e uma unidade de altura.
                      Os dados são unidos e há um espaço entre as/os {{classifVar1Input}}
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div><br>
    </div>
  </div>

</est-base-view>