<section class="ifmath-description">
    
    <br>
    <h3>Múltiplos e Divisores</h3>
      <p class="p-justify">
        Múltiplos são todos os resultados da multiplicação entre um número e qualquer número natural. 
        Divisores são os números usados nessa multiplicação.
        <br>
        <br>
        Dizemos que um número é múltiplo de outro quando o primeiro é resultado da multiplicação entre o segundo e 
        algum número natural. Nesse mesmo caso, também é possível dizer que o segundo é divisor do primeiro.
      </p>

      <h3>Critérios de divisibilidade</h3>
      <p class="p-justify">
        CD por 2: 
        Um número é divisível por 2 quando ele é par, ou seja, quando termina em um algarismo par (0, 2, 4, 6 ou 8).

        <br>
        CD por 3: 
        Um número é divisível por 3 quando a soma dos valores absolutos dos seus algarismos é divisível por 3.

        <br>
        CD por 4: 
        Um número é divisível por 4 quando termina em 00 ou quando o número formado pela dezena e unidade é divisível por 4.

        <br>
        CD por 5: 
        Um número é divisível por 5 quando o algarismo das unidades é zero (0) ou 5.

        <br>
        CD por 6: 
        Um número é divisível por 6 quando é divisível por 2 e por 3.
   
        <br>
        CD por 7: 
        Um número é divisível por 7 quando a diferença entre o dobro do último algarismo e o número formado pelos demais algarismos resulta num número divisível por 7.

        <br>
        CD por 8: 

        <br>
        CD por 9: 
        Um número é divisível por 9 quando a soma dos valores absolutos de seus algarismos é divisível por 9.

        <br>
        CD por 10: 
        Um número é divisível por 10 quando termina em zero (0).

        <br>
        CD por 11: 
        Um número é divisível por 11 quando a diferença entre a soma dos valores absolutos dos algarismos de ordem ímpar e a soma dos valores absolutos dos algarismos de ordem par é divisível por 11.

        <br>
        CD por 12: 
        Um número é divisível por 12 quando é divisível por 3 e por 4. Lembre-se de que: 12 = 3 * 4.

        <br>
        CD por 25: 
        Um número é divisível por 25 quando os dois algarismos finais são 00, 25, 50 ou 75.
      </p>

      <br>

  <br>

    </section>