<div style="margin-top: 20px;">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Dados Brutos</span>
    </div>
    <input type="text" class="form-control" placeholder="valores" aria-label="Username"
      aria-describedby="basic-addon1"  [(ngModel)]="valores">
  </div>
  <button type="button" class="btn btn-primary" (click)="changeValue()">Primary</button>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Intervalos</th>
      <th scope="col">Frequência Absoluta</th>
      <th scope="col">Frequência Acumulada</th>
      <th scope="col">Frequência Relativa</th>
      <th scope="col">Frequência Relativa Acumulada</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of tableElements" style="text-align: center;">
      <th scope="row">{{element.intervalo}}</th>
      <td>{{element.frequenciaAbs}}</td>
      <td>{{element.frequenciaAbsAc}}</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>

  </tbody>
</table>