<geo-base-view>
  <!-- Botões de navegação -->
  <div class="btn-container mt-2 row">
    <h5 class="mt-2 col-12 text-center">Escolha abaixo o tipo de quadrilátero</h5>
    <geo-btn *ngFor="let button of buttons; let i = index" [name]="button.title" [route]="button.route"></geo-btn>
  </div>

  <div class="content-container col-12 row px-0 align-items-center justify-content-center">

    <!-- Botão para inserir a medida do ângulo-->
    <div class="content-container col-12 row px-0 align-items-center justify-content-center">
      <div class=" mt-4">
        <p class="text-center">
          Entre com a medida do lado(<ng-katex equation="\ell"></ng-katex>):
          <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="lado"
            oninput="this.value = Math.abs(this.value)" (ngModelChange)="checkInput()" max="10" min="1" />
        </p>

        <div [className]="errorInput === true ? ' mt-1 alert alert-danger' : ' mt-1 alert alert-primary'" role="alert"
          style="text-align: center;">
          A medida do lado deve ser um valor entre <b>1</b> e <b>10</b>.
        </div>
      </div>
    </div>

    <!-- Cena -->
    <!-- <geo-scene class="col-12 row px-0 bg-primary img-fluid" [hasOrbitControls]="false" [hasPerspective]="false"
      (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)"></geo-scene> -->

  </div>

  <!-- Propriedades -->
  <div class="rightbar px-3 vh-100">
    <h3>Quadrado</h3>
    <h4>Propriedades:</h4>
    <p>
      O quadrado é um quadrilátero (quatro lados) regular com lados congruentes (mesma medida) e ângulos internos retos
      (90°). A soma dos ângulos internos é igual a 360°.
    </p>

    <!-- Calculos -->

    <!-- Inicio Calculo Area -->
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingArea" data-toggle="collapse" data-target="#collapseArea">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseArea"
              aria-expanded="false" aria-controls="collapseArea">
              Área: <ng-katex class="explicacao" equation="A = {{ lado * lado }} \ u.a. ">
              </ng-katex>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse" data-target="#collapseArea"></i>
          </h2>
        </div>
        <div id="collapseArea" class="collapse" aria-labelledby="headingArea" data-parent="#accordionExample">
          <div class="card-body">
            <div class="panel-group" id="accordion">
              <!--Area - Passo 1-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{A = {{lado}}^2 } ">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    Substituímos a medida do lado <ng-katex equation="\ell = {{ lado }} "></ng-katex> na fórmula A =
                    <ng-katex equation="\ell ^2"></ng-katex>
                  </div>
                </div>
              </div>
              <hr>

              <!--Area - Passo 2-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{A = {{ lado * lado }} \ u.a.}">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Resultado final após resolver a potência.
                  </div>
                </div>
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>
      <!-- Fim Calculo Area -->

      <!-- Inicio Calculo Perimetro -->
      <div class="card">
        <div class="card-header" id="headingPerimetro" data-toggle="collapse" data-target="#collapsePerimetro">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePerimetro"
              aria-expanded="false" aria-controls="collapsePerimetro">
              Perímetro: <ng-katex class="explicacao" equation="P = {{ 4 * lado }} \ u.m.">
              </ng-katex>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
              data-target="#collapsePerimetro"></i>
          </h2>
        </div>
        <div id="collapsePerimetro" class="collapse" aria-labelledby="headingPrincipal" data-parent="#accordionExample">
          <div class="card-body">
            <div class="panel-group" id="accordion">
              <!--Perimetro - Passo 1-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{P = 4 \cdot {{ lado }} } ">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    Substituímos a medida do lado <ng-katex equation="\ell = {{ lado }} "></ng-katex> na fórmula P =
                    <ng-katex equation="4 \cdot \ell"></ng-katex>.
                    <p>
                      OBS: O perímetro é a soma de todos os lados do polígono.
                      Como o quadrado tem todos os lados congruentes, o perímetro é o quádruplo da medida do lado.
                    </p>
                  </div>
                </div>
              </div>
              <hr>

              <!--Perimetro - Passo 2-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{P = {{ 4 * lado }} \ u.m.}">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Resultado final.
                  </div>
                </div>
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>
      <!-- Fim Calculo Perimetro -->

      <!-- Inicio Calculo NrDiagonais -->
      <div class="card">
        <div class="card-header" id="headingNrDiagonais" data-toggle="collapse" data-target="#collapseNrDiagonais">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
              data-target="#collapseNrDiagonais" aria-expanded="false" aria-controls="collapseNrDiagonais">
              Número de Diagonais: <ng-katex class="explicacao" equation="n = {{ (4 * (4-3)) / 2 }}">
              </ng-katex>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
              data-target="#collapseNrDiagonais"></i>
          </h2>
        </div>
        <div id="collapseNrDiagonais" class="collapse" aria-labelledby="headingPrincipal"
          data-parent="#accordionExample">
          <div class="card-body">
            <div class="panel-group" id="accordion">
              <!--NrDiagonais - Passo 1-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot (4 - 3)}{2} } ">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    Substituímos número de lados <ng-katex equation="N = 4"></ng-katex> do polígono na fórmula
                    <ng-katex equation="n = \frac{N \cdot (N - 3)}{2} "></ng-katex>.
                  </div>
                </div>
              </div>
              <hr>

              <!--NrDiagonais - Passo 2-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot 1}{2} }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Resolvemos as operações entre parênteses.
                  </div>
                </div>
              </div>
              <hr>

              <!--NrDiagonais - Passo 3-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{n = {{ (4 * (4-3)) / 2 }} }">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Resultado final, após resolvermos a multipliação e divisão.
                  </div>
                </div>
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>
      <!-- Fim Calculo NrDiagonais -->

      <!-- Inicio Calculo TmDiagonais -->
      <div class="card">
        <div class="card-header" id="headingTmDiagonais" data-toggle="collapse" data-target="#collapseTmDiagonais">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
              data-target="#collapseTmDiagonais" aria-expanded="false" aria-controls="collapseTmDiagonais">
              Tamanho da Diagonal: <ng-katex class="explicacao" equation="d = {{lado}} \sqrt 2 \ u.m.">
              </ng-katex>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
              data-target="#collapseTmDiagonais"></i>
          </h2>
        </div>
        <div id="collapseTmDiagonais" class="collapse" aria-labelledby="headingPrincipal"
          data-parent="#accordionExample">
          <div class="card-body">
            <div class="panel-group" id="accordion">
              <!--TmDiagonais - Passo 1-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{d = {{lado}} \sqrt 2 } ">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    Resultado final após substituir o lado <ng-katex equation="\ell = {{lado}} "></ng-katex> na fórmula
                    <ng-katex equation="d = \ell \sqrt 2"></ng-katex>.
                  </div>
                </div>
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>
      <!-- Fim Calculo TmDiagonais -->

      <!-- Inicio Calculo SomaAngulosInt -->
      <div class="card">
        <div class="card-header" id="headingSomaAngulosInt" data-toggle="collapse"
          data-target="#collapseSomaAngulosInt">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
              data-target="#collapseSomaAngulosInt" aria-expanded="false" aria-controls="collapseSomaAngulosInt">
              Soma dos Ângulos Internos: <ng-katex class="explicacao" equation="S = 360\degree">
              </ng-katex>
            </button>

            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
              data-target="#collapseSomaAngulosInt"></i>
          </h2>
        </div>
        <div id="collapseSomaAngulosInt" class="collapse" aria-labelledby="headingPrincipal"
          data-parent="#accordionExample">
          <div class="card-body">
            <div class="panel-group" id="accordion">
              <!--SomaAngulosInt - Passo 1-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{S = 4 \cdot 90\degree } ">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    O quadrado possui quatro ângulos internos retos (90°). Logo, a soma dos ângulos internos é dada por
                    <ng-katex equation="S = 4 \cdot 90\degree"></ng-katex>.
                  </div>
                </div>
              </div>
              <hr>

              <!--SomaAngulosInt - Passo 2-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                      <p>
                        <ng-katex class="explicacao" equation="\textcolor{black}{S = 360\degree}">
                        </ng-katex>
                        <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                          data-target="#collapseGeratriz"></i>
                      </p>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Resultado final.
                  </div>
                </div>
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>
      <!-- Fim Calculo SomaAngulosInt -->

    </div>

  </div>

</geo-base-view>