<geo-base-view>
  <!-- Botões de navegação -->
  <div class="btn-container mt-2 row">
    <h5 class="mt-2 col-12 text-center">Escolha abaixo o tipo de quadrilátero</h5>
    <geo-btn *ngFor="let button of buttons; let i = index" [name]="button.title" [route]="button.route"></geo-btn>
  </div>

  <div class="content-container col-12 row px-0 align-items-center justify-content-center">

    <!-- Botão para inserir a medida do ângulo-->
    <div class="content-container col-12 row px-0 align-items-center justify-content-center">
      <div class=" mt-4">
        <p class="text-center">
          Entre com a medida da base (<b><i> {{ b1 }} </i></b>):
          <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="baseMin"
            oninput="this.value = Math.abs(this.value)" (ngModelChange)="checkInput('min')" max="10" min="1" />
          da base (<b><i> {{ b2 }} </i></b>):
          <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="baseMax"
            oninput="this.value = Math.abs(this.value)" (ngModelChange)="checkInput('max')" max="10" min="1" />
          e da altura (<b><i>h</i></b>):
          <input class="btn btn-secondary bg-white text-body" type="number" [(ngModel)]="height"
            oninput="this.value = Math.abs(this.value)" (ngModelChange)="checkInput('height')" max="10" min="1" />
        </p>

        <div [className]="errorInput === true ? ' mt-1 alert alert-danger' : ' mt-1 alert alert-primary'" role="alert"
          style="text-align: center;">
          As medidas das bases e altura devem ser valores entre <b>1</b> e <b>10</b>.
        </div>
      </div>
    </div>

    <!-- Cena -->
    <geo-scene class="col-12 row px-0 bg-primary img-fluid" [hasOrbitControls]="false" [hasPerspective]="false"
      (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)"></geo-scene>

    <button class="btn btn-primary m-1 lock" *ngFor="let button of buttons_vertex"
      (click)="lockState($event, button.value)" [id]="button.id">
      {{button.title}}
    </button>

    <!-- Observação para o usuário -->
    <div class="alert alert-primary alert-dismissible obs" role="alert" style="text-align: center; margin-top: 10px;" id="obs">
      Você pode clicar nos vértices do trapézio e arrastar para escolher seu tipo.
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>

  <!-- Propriedades -->
  <div class="rightbar px-3 vh-100">
    <h3>Trapézio</h3>
    <button class="btn btn-primary m-1" *ngFor="let button of buttons_examples"
      (click)="loadExample($event, button.value)">
      {{button.title}}
    </button>
    <h4>Propriedades:</h4>
    <div *ngIf="relation != 3">
      <p>
        O trapézio é um quadrilátero (quatro lados) que possui um par de lados paralelos:
        Os lados paralelos dos trapézios são chamados de bases. A base que possui maior medida é chamada de base maior e a
        que possui menor medida é chamada de base menor.
      </p>
    </div>
    <div *ngIf="relation == 3">
      <div *ngIf="err == 0">
        É um quadrado, pois todos os lados possuem a mesma medida e os ângulos internos são retos.
      </div>
      <div *ngIf="err == 1">
        É um retângulo, pois possui os lados congruentes dois a dois e os ângulos internos são retos. 
      </div>
      <div *ngIf="err == 2">
        É um paralelogramo, pois possui os lados paralelos dois a dois. 
      </div>
    </div>
    <div *ngIf="relation == 0">
      <ul>
        <li><b>Trapézio Isósceles</b> são aqueles que possuem lados não paralelos congruentes (com a mesma medida).
        </li>
      </ul>

      <!-- Calculos Trapezio Isosceles -->

      <!-- Inicio Calculo Area -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingArea" data-toggle="collapse" data-target="#collapseArea">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseArea"
                aria-expanded="false" aria-controls="collapseArea">
                Área: <ng-katex class="explicacao" equation="A \approx {{ (( baseMax + baseMin ) * height )/2 | number:'':'pt' }} \ u.a.">
                </ng-katex>
              </button>

              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                data-target="#collapseArea"></i>
            </h2>
          </div>
          <div id="collapseArea" class="collapse" aria-labelledby="headingArea" data-parent="#accordionExample">
            <div class="card-body">
              <div class="panel-group" id="accordion">
                <!--Area - Passo 1-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx \frac{ ( {{baseMax | number:'':'pt' }} + {{baseMin | number:'':'pt'}} ) \cdot {{height | number:'':'pt'}} }{2} } ">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                      Substituímos a medida da base maior <ng-katex equation="B = {{baseMax | number:'':'pt'}} "></ng-katex>, da base
                      menor
                      <ng-katex equation="b = {{baseMin | number:'':'pt'}}"></ng-katex> e da altura <ng-katex equation="h = {{height | number:'':'pt'}} ">
                      </ng-katex> na fórmula
                      <ng-katex equation="A = \frac{ (B + b) \cdot h }{2}"></ng-katex>
                    </div>
                  </div>
                </div>
                <hr>

                <!--Area - Passo 2-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx \frac{ ( {{baseMax + baseMin | number:'':'pt'}} ) \cdot {{height | number:'':'pt'}} }{2} }">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Resolvemos as operações entre parênteses.
                    </div>
                  </div>
                </div>
                <hr>

                <!--Area - Passo 3-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx {{ (( baseMax + baseMin ) * height )/2 | number:'':'pt' }} \ u.a. }">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      Resultado final, após resolvermos a multiplicação e divisão.
                    </div>
                  </div>
                </div>
                <hr>

              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo Area -->

        <!-- Inicio Calculo NrDiagonais -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingNrDiagonais" data-toggle="collapse" data-target="#collapseNrDiagonais">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseNrDiagonais" aria-expanded="false" aria-controls="collapseNrDiagonais">
                  Número de Diagonais: <ng-katex class="explicacao" equation="n = {{ (4 * (4-3)) / 2 }} ">
                  </ng-katex>
                </button>

                <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                  data-target="#collapseNrDiagonais"></i>
              </h2>
            </div>
            <div id="collapseNrDiagonais" class="collapse" aria-labelledby="headingNrDiagonais"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="panel-group" id="accordion">
                  <!--NrDiagonais - Passo 1-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot (4 - 3)}{2} } ">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        Substituímos número de lados <ng-katex equation="N = 4"></ng-katex> do polígono na fórmula
                        <ng-katex equation="n = \frac{N \cdot (N - 3)}{2} "></ng-katex>.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--NrDiagonais - Passo 2-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot 1}{2} }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resolvemos as operações entre parênteses.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--NrDiagonais - Passo 3-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = {{ (4 * (4-3)) / 2 }} }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resultado final, após resolvermos a multipliação e divisão.
                      </div>
                    </div>
                  </div>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo NrDiagonais -->

        <!-- Inicio Calculo SomaAngulosInt -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingSomaAngulosInt" data-toggle="collapse"
              data-target="#collapseSomaAngulosInt">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSomaAngulosInt" aria-expanded="false" aria-controls="collapseSomaAngulosInt">
                  Soma dos Ângulos Internos: <ng-katex class="explicacao" equation="S = 360\degree">
                  </ng-katex>
                </button>

                <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                  data-target="#collapseSomaAngulosInt"></i>
              </h2>
            </div>
            <div id="collapseSomaAngulosInt" class="collapse" aria-labelledby="headingSomaAngulosInt"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="panel-group" id="accordion">
                  <!--SomaAngulosInt - Passo 1-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = (4 - 2) \cdot 180\degree } ">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        Substituímos o número de lados <ng-katex equation="N = 4"></ng-katex> na fórmula
                        <ng-katex equation="S = (N - 2) \cdot 180\degree "></ng-katex>.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--SomaAngulosInt - Passo 2-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = 2 \cdot 180\degree }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resolvemos as operações entre parênteses.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--SomaAngulosInt - Passo 3-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = 360\degree }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resultado final.
                      </div>
                    </div>
                  </div>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo SomaAngulosInt -->

      </div>

    </div>
    <div *ngIf="relation == 1">
      <ul>
        <li><b>Trapézio Escaleno</b> são aqueles que não possuem os lados não paralelos congruentes (com a mesma
          medida), ou
          seja, a medida dos lados não paralelos são diferentes.</li>
      </ul>

      <!-- Calculos Trapezio Escaleno -->

      <!-- Inicio Calculo Area -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingArea" data-toggle="collapse" data-target="#collapseArea">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseArea"
                aria-expanded="false" aria-controls="collapseArea">
                Área: <ng-katex class="explicacao" equation="A \approx {{ (( baseMax + baseMin ) * height )/2 | number:'':'pt' }} \ u.a.">
                </ng-katex>
              </button>

              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                data-target="#collapseArea"></i>
            </h2>
          </div>
          <div id="collapseArea" class="collapse" aria-labelledby="headingArea" data-parent="#accordionExample">
            <div class="card-body">
              <div class="panel-group" id="accordion">
                <!--Area - Passo 1-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx \frac{ ( {{baseMax | number:'':'pt'}} + {{baseMin | number:'':'pt'}} ) \cdot {{height | number:'':'pt'}} }{2} } ">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                      Substituímos a medida da base maior <ng-katex equation="B = {{baseMax | number:'':'pt'}} "></ng-katex>, da base
                      menor
                      <ng-katex equation="b = {{baseMin | number:'':'pt'}}"></ng-katex> e da altura <ng-katex equation="h = {{height | number:'':'pt'}} ">
                      </ng-katex> na fórmula
                      <ng-katex equation="A = \frac{ (B + b) \cdot h }{2}"></ng-katex>
                    </div>
                  </div>
                </div>
                <hr>

                <!--Area - Passo 2-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx \frac{ ( {{baseMax + baseMin | number:'':'pt'}} ) \cdot {{height | number:'':'pt'}} }{2} }">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Resolvemos as operações entre parênteses.
                    </div>
                  </div>
                </div>
                <hr>

                <!--Area - Passo 3-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx {{ (( baseMax + baseMin ) * height )/2 | number:'':'pt' }} \ u.a. }">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      Resultado final, após resolvermos a multiplicação e divisão.
                    </div>
                  </div>
                </div>
                <hr>

              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo Area -->

        <!-- Inicio Calculo NrDiagonais -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingNrDiagonais" data-toggle="collapse" data-target="#collapseNrDiagonais">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseNrDiagonais" aria-expanded="false" aria-controls="collapseNrDiagonais">
                  Número de Diagonais: <ng-katex class="explicacao" equation="n = {{ (4 * (4-3)) / 2 }} ">
                  </ng-katex>
                </button>

                <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                  data-target="#collapseNrDiagonais"></i>
              </h2>
            </div>
            <div id="collapseNrDiagonais" class="collapse" aria-labelledby="headingNrDiagonais"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="panel-group" id="accordion">
                  <!--NrDiagonais - Passo 1-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot (4 - 3)}{2} } ">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        Substituímos número de lados <ng-katex equation="N = 4"></ng-katex> do polígono na fórmula
                        <ng-katex equation="n = \frac{N \cdot (N - 3)}{2} "></ng-katex>.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--NrDiagonais - Passo 2-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot 1}{2} }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resolvemos as operações entre parênteses.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--NrDiagonais - Passo 3-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = {{ (4 * (4-3)) / 2 }} }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resultado final, após resolvermos a multipliação e divisão.
                      </div>
                    </div>
                  </div>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo NrDiagonais -->

        <!-- Inicio Calculo SomaAngulosInt -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingSomaAngulosInt" data-toggle="collapse"
              data-target="#collapseSomaAngulosInt">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSomaAngulosInt" aria-expanded="false" aria-controls="collapseSomaAngulosInt">
                  Soma dos Ângulos Internos: <ng-katex class="explicacao" equation="S = 360\degree">
                  </ng-katex>
                </button>

                <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                  data-target="#collapseSomaAngulosInt"></i>
              </h2>
            </div>
            <div id="collapseSomaAngulosInt" class="collapse" aria-labelledby="headingSomaAngulosInt"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="panel-group" id="accordion">
                  <!--SomaAngulosInt - Passo 1-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = (4 - 2) \cdot 180\degree } ">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        Substituímos o número de lados <ng-katex equation="N = 4"></ng-katex> na fórmula
                        <ng-katex equation="S = (N - 2) \cdot 180\degree "></ng-katex>.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--SomaAngulosInt - Passo 2-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = 2 \cdot 180\degree }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resolvemos as operações entre parênteses.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--SomaAngulosInt - Passo 3-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = 360\degree }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resultado final.
                      </div>
                    </div>
                  </div>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo SomaAngulosInt -->

      </div>

    </div>
    <div *ngIf="relation == 2">
      <ul>
        <li><b>Trapézio Retângulo</b> são aqueles que um dos lados não paralelos forma um ângulo de 90º com a base.</li>
      </ul>

      <!-- Calculos Trapezio Retangulo -->

      <!-- Inicio Calculo Area -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingArea" data-toggle="collapse" data-target="#collapseArea">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseArea"
                aria-expanded="false" aria-controls="collapseArea">
                Área: <ng-katex class="explicacao" equation="A \approx {{ (( baseMax + baseMin ) * height )/2 | number:'':'pt' }} \ u.a.">
                </ng-katex>
              </button>

              <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                data-target="#collapseArea"></i>
            </h2>
          </div>
          <div id="collapseArea" class="collapse" aria-labelledby="headingArea" data-parent="#accordionExample">
            <div class="card-body">
              <div class="panel-group" id="accordion">
                <!--Area - Passo 1-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx \frac{ ( {{baseMax | number:'':'pt'}} + {{baseMin | number:'':'pt'}} ) \cdot {{height | number:'':'pt'}} }{2} } ">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                      Substituímos a medida da base maior <ng-katex equation="B = {{baseMax | number:'':'pt'}} "></ng-katex>, da base
                      menor
                      <ng-katex equation="b = {{baseMin | number:'':'pt'}}"></ng-katex> e da altura <ng-katex equation="h = {{height | number:'':'pt'}} ">
                      </ng-katex> na fórmula
                      <ng-katex equation="A = \frac{ (B + b) \cdot h }{2}"></ng-katex>
                    </div>
                  </div>
                </div>
                <hr>

                <!--Area - Passo 2-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx \frac{ ( {{baseMax + baseMin | number:'':'pt'}} ) \cdot {{height | number:'':'pt'}} }{2} }">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Resolvemos as operações entre parênteses.
                    </div>
                  </div>
                </div>
                <hr>

                <!--Area - Passo 3-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                        <p>
                          <ng-katex class="explicacao"
                            equation="\textcolor{black}{A \approx {{ (( baseMax + baseMin ) * height )/2 | number:'':'pt' }} \ u.a. }">
                          </ng-katex>
                          <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                            data-target="#collapseGeratriz"></i>
                        </p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      Resultado final, após resolvermos a multiplicação e divisão.
                    </div>
                  </div>
                </div>
                <hr>

              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo Area -->

        <!-- Inicio Calculo NrDiagonais -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingNrDiagonais" data-toggle="collapse" data-target="#collapseNrDiagonais">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseNrDiagonais" aria-expanded="false" aria-controls="collapseNrDiagonais">
                  Número de Diagonais: <ng-katex class="explicacao" equation="n = {{ (4 * (4-3)) / 2 }} ">
                  </ng-katex>
                </button>

                <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                  data-target="#collapseNrDiagonais"></i>
              </h2>
            </div>
            <div id="collapseNrDiagonais" class="collapse" aria-labelledby="headingNrDiagonais"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="panel-group" id="accordion">
                  <!--NrDiagonais - Passo 1-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot (4 - 3)}{2} } ">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        Substituímos número de lados <ng-katex equation="N = 4"></ng-katex> do polígono na fórmula
                        <ng-katex equation="n = \frac{N \cdot (N - 3)}{2} "></ng-katex>.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--NrDiagonais - Passo 2-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = \frac{4 \cdot 1}{2} }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resolvemos as operações entre parênteses.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--NrDiagonais - Passo 3-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{n = {{ (4 * (4-3)) / 2 }} }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resultado final, após resolvermos a multipliação e divisão.
                      </div>
                    </div>
                  </div>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo NrDiagonais -->

        <!-- Inicio Calculo SomaAngulosInt -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingSomaAngulosInt" data-toggle="collapse"
              data-target="#collapseSomaAngulosInt">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSomaAngulosInt" aria-expanded="false" aria-controls="collapseSomaAngulosInt">
                  Soma dos Ângulos Internos: <ng-katex class="explicacao" equation="S = 360\degree">
                  </ng-katex>
                </button>

                <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                  data-target="#collapseSomaAngulosInt"></i>
              </h2>
            </div>
            <div id="collapseSomaAngulosInt" class="collapse" aria-labelledby="headingSomaAngulosInt"
              data-parent="#accordionExample">
              <div class="card-body">
                <div class="panel-group" id="accordion">
                  <!--SomaAngulosInt - Passo 1-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = (4 - 2) \cdot 180\degree } ">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        Substituímos o número de lados <ng-katex equation="N = 4"></ng-katex> na fórmula
                        <ng-katex equation="S = (N - 2) \cdot 180\degree "></ng-katex>.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--SomaAngulosInt - Passo 2-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = 2 \cdot 180\degree }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resolvemos as operações entre parênteses.
                      </div>
                    </div>
                  </div>
                  <hr>

                  <!--SomaAngulosInt - Passo 3-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                          <p>
                            <ng-katex class="explicacao" equation="\textcolor{black}{S = 360\degree }">
                            </ng-katex>
                            <i class="fa fa-arrow-circle-down float-right mt-2" data-toggle="collapse"
                              data-target="#collapseGeratriz"></i>
                          </p>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Resultado final.
                      </div>
                    </div>
                  </div>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim Calculo SomaAngulosInt -->

      </div>

    </div>
  </div>

</geo-base-view>